*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    padding-top: 4%;
    padding-left: 10%;
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    font-weight: 600;
}
.container h1 img{
    width: 6rem;
}
.container button img{
    width: 1.5rem;
    margin-right: 0.8rem;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd, #571094);
    color: #fff;
    font-size: 1.6rem;
    outline: 0;
    border: 0;
    border-radius: 4rem;
    padding: 1.5rem 2.5rem;
    margin: 3rem 0 2rem;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 2rem;
    margin: 2rem 0;
    outline: none;
    border-radius: 0.5rem;
    font-size: 2rem;
}
.input-box img{
    width: 2.5rem;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}